@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');


//layout
@import 'layout/reset';
@import 'layout/variable';

//components 
@import 'components/_header';
@import 'components/_search';
@import 'components/peoplecard';
@import 'components/buttons';
@import 'components/_starshipscard';
@import 'components/planetscard';
@import "components/_footer";

//pages
@import 'pages/home';
@import 'pages/starship';
@import 'pages/_person';
@import 'pages/_planet'

