.readmore{
    padding: 1rem 3.5rem;
    font-size: 1.2rem;
    background-color: $secondary-color;
    border: 0;
    text-transform: capitalize;
    color: $tertiary-color;
    outline: none;
    cursor: pointer;
    .icon{
       margin-top: .2rem;
       margin-left: .3rem;
    }
    &:hover{
        background-color:$black;
        color: $white;
    }
}

.viewmore{
    text-align: center;
    border: .2rem solid $black;  
    border-radius: .4rem;
    background: $white;
    text-transform: uppercase;
    color: $tertiary-color;
    font-size: 1.2rem ;
    font-weight: 500;
    padding: 1.2rem 15rem;
    outline: none;
     cursor: pointer;
  
}
.back-button{
    display: flex;
    color: $black;
    margin-left: 5rem;
    text-transform: capitalize;
    span{
        margin-left: 2rem;
        padding-top: 2rem;
        text-decoration: underline;
    }
}

.readmore-characters{
    margin-top: 2rem;
    text-decoration: underline;
    color: $tertiary-color;
    font-weight: bold;
}