.header{
    width: 100%;
    background: url('~@/assets/images/hero-banner.jpg');
    background-size: cover;


    .header-hero__main-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
         .underline{
            background: $background-color;
        }
    }
    .header-hero__container{
        color: $primary-color;
       
    }
    .header-hero__main{
        display: flex;
        justify-content: center;
    
    }
    .header-hero__detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header-hero__text{
        font-weight: 300;
        color: $primary-color;
    }
   
}



@media only screen and (min-width: 1025px){

    .header{
        height: 100vh;
        padding: 8rem 0 0 5rem;
    }
    .header-hero__container{
        margin-top: 7rem;
    }

    .header-hero__main-wrapper{

         .underline{
            width: 35rem;
            height: .3rem;
            margin: 1rem  0 3rem 0;
        }
    }
     .header-hero__detail{
        margin-top: 5rem;
    }
     .header-hero__title{
        color: $white;
        font-weight: 900;
        font-size: $base-heading;
        margin:.3rem 0 0 2rem;
    }
    .header-hero__text{
        font-size: 2rem;
        width: 50rem;
        
    }
    .header-logo{
        width: 10%;
        height: 9%;
    }
     .main-logo{
        width: 15%;
        height: 5%;
    }

}
@media only screen and (min-width:768px) and (max-width:1024px){
    .header{
        height: 400px;
    }
    .header-logo{
        margin: 5rem 0 0 2rem;

    }
    .header-hero__main-wrapper{

         .underline{
            width: 15rem;
            height: .3rem;
            margin: 1rem  0 3rem 0;
        }
    }
    .header-hero__container{
        margin-top:4rem
     } 
    .header-hero__text{
        font-size: 1rem;
    }  
    .header-logo{
        width: 10%;
        height: 8%;
    }
     .main-logo{
        width: 10%;
        height: 5%;
    }

    
}
@media only screen and (max-width: 767px){
    .header{
        height: 500px;
    }
    .header-logo{
        margin: 5rem 0 0 2rem;

    }
    .header-hero__container{
        margin-top:4rem
     }   
    .header-hero__main-wrapper{

         .underline{
            width: 15rem;
            height: .3rem;
            margin: 1rem  0 3rem 0;
        }
    }
    .header-hero__text{
        font-size: 1.3rem;
        width: 60%;

    }  
    .header-logo{
        width: 10%;
        height: 5%;
    }
     .main-logo{
        width: 12%;
        height: 5%;
    }

     
}