.people-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: centeR;
    margin: 3rem 0;
}
.article{
    margin: 2rem;
    
 }
  
    .peoplecard-container{
        width: 100%; 
      }
    .peoplecard-image__wrapper{
        // width: 100%; 
    }
    .person-image{
        width: 100%;
        height: 389px;
    }
    .peoplecard-details{
        background-color:  $primary-color;
        padding: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .peoplecard-info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        span{
            text-transform: capitalize;
              margin: .4rem 0;
         }
    }
    .button-wrapper{
        display: flex;
        justify-content: flex-end;
    }
    
.filter{
  padding-left: 5rem ;
  label{
    margin-right: .5rem;
  }
  select{
    padding: 1rem 1.3rem;
    background-color: $white;
    font-size: 1.2rem;
    text-align: center;
    outline-color: $tertiary-color;
  }
}

 @media (min-width: 1025px) {

    .article{
        width: 550px;
    }
      .peoplecard-container{
        display: grid;
        grid-template-columns: 58% 42% ;
      }
   
}

@media (min-width: 768px) and (max-width: 1024px) {

    .article{
        width: 550px;
      
    
    }
      .peoplecard-container{
        display: grid;
        grid-template-columns: 58% 42% ;
      }
  
}


@media (max-width: 767px) {
  
    .article{
        width: 90%;
        
    }
      .peoplecard-container{
        display: grid;
        grid-template-row: 58% 42% ;
      }
  
}
