.peoplecard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: centeR;
    margin: 3rem 0;
}
.peoplecard-container__wrapper{

    margin: 2rem;
    
 }

  
    .peoplecard-container{
        width: 100%; 
      }
    .peoplecard-image__wrapper{
        // width: 100%; 
    }
    .person-image{
        width: 100%;
        height: 389px;
    }
    .peoplecard-details{
        background-color:  $primary-color;
        padding: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .peoplecard-info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        span{
            text-transform: capitalize;
              margin: .4rem 0;
         }
    }
    .button-wrapper{
        display: flex;
        justify-content: flex-end;
    }
    


 @media (min-width: 1025px) {

    .peoplecard-container__wrapper{
        width: 40%;
    }
      .peoplecard-container{
        display: grid;
        grid-template-columns: 58% 42% ;
      }
   
}

@media (min-width: 768px) and (max-width: 1024px) {

    .peoplecard-container__wrapper{
        width: 40%;
      
    
    }
      .peoplecard-container{
        display: grid;
        grid-template-columns: 58% 42% ;
      }
  
}


@media (max-width: 767px) {
  
  
    .peoplecard-container__wrapper{
        width: 90%;
        
    }
      .peoplecard-container{
        display: grid;
        grid-template-row: 58% 42% ;
      }
  
}
