.search-wrapper{
    width:100%;
    margin: 5rem 0 2rem 0;
    display: flex;
    justify-content: center;
   .search-container{
        display: grid;
        grid-template-columns: 8% 92%;
        width: 60%;
        max-width: 100%;
        background: $secondary-color;
        border-radius: .4em;
        .search-icon__container{
            display: flex;
            justify-content: flex-end;
            .search-icon{
                color: $text-color;
                margin-top: 2rem;
                margin-left:1em ;
            }
        }
        .search{
            .search-field{
                padding: 1.5rem;
                border: none;
                width: 85%;
                font-size: 2rem;
                font-weight: 500;
                background: $secondary-color;
                &:focus{
                    outline: none;
                    color: $text-color;
                    
                }
            }
        }
    }

}