.search-wrapper{
    width:100%;
    display: flex;
    justify-content: center;
   .search-container{
        display: grid;
        grid-template-columns: 11% 89%;
        max-width: 100%;
        background: $secondary-color;
        border-radius: .4em;
        .search-icon__container{
            display: flex;
            justify-content: flex-end;
            .search-icon{
                color: $text-color;
                margin-top: 2rem;
                margin-left:1em ;
            }
        }
        .search{
            .search-field{
                padding: 1.5rem;
                border: none;
                width: 85%;
                font-weight: 500;
                background: $secondary-color;
                &:focus{
                    outline: none;
                    color: $text-color;
                    
                }
            }
        }
    }

}
@media only screen and (min-width: 1025px){
    .search-wrapper{
         margin: 5rem 0 2rem 0;
    }
     .search-container{
        width: 60%;
    }
    .search{
        .search-field{
            font-size: 2rem;
        }
    }      
}
@media only screen and (min-width:768px) and (max-width:1024px){
    .search-wrapper{
         margin: 2rem 0 2rem 0;
    }
     .search-container{
        width: 80%;
    }
    .search{
        .search-field{
            font-size: 1.2rem;
        }
    }  
    
}
@media only screen and (max-width: 767px){
    .search-wrapper{
        margin: 5rem 0 2rem 0;
    }
     .search-container{
        width: 80%;
    }
       search{
        .search-field{
            font-size: 1.3rem;
        }
    }  
}
