.home-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    .home-content__title-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .title-underline{
            width: 6em;
            background: $tertiary-color;
            height: .5rem;
            margin: 1rem  0 4rem 0;
        }
    }
    .home-content__title{
        color: $text-color;
        font-size: 3rem;
    }
    .viewmore-button{
        display: flex;
        justify-content: center;
    }
}
