.home-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    .home-content__title-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .title-underline{
            width: 6em;
            background: $tertiary-color;
            height: .5rem;
            margin: 1rem  0 4rem 0;
        }
    }
    .home-content__title{
        color: $text-color;
        font-size: 3rem;
    }
    .viewmore-button{
        display: flex;
        justify-content: center;
         margin-bottom:8rem;
    }
    .popular-characters{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
       align-content: space-around;
       margin-bottom: 8rem;
    }
    .popular-planets{
        width: 100%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        align-content: space-between;
         justify-content: center;
         margin-bottom: 8rem;
        .planet-card{
            margin: 2rem
        }
    }
    .popular-starships{
        width: 100%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        align-content: space-between;
         justify-content: center;
         margin-bottom: 8rem;
        .starship-card{
            margin: 2rem
        }
    }
    .isLoading{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .toast-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
