.person-container__wrapper{
    width: 100%;

    padding: 5rem 3rem;
    background-color: $secondary-color;
    .person-image__wrapper{
        h2{
            margin-top: 2rem;
            font-size: 2rem;
        }
    }
     .person-information{
        text-align: center;
        padding-top: 5rem;
        div{
            margin: .5em 0;
        }
        span {
            display: block;
            font-size: 1em;
            font-weight: 900;
            text-transform: capitalize;
        }
    }
    .back-button{
        margin-top: 4rem;
    }


   
}
@media (min-width: 1025px) {
  .person-container__wrapper{
 
    height: 100vh;
  }
  .person-container{
        display: grid;
        grid-template-columns: 40% 60%;
    }
     .person-image__wrapper{
        margin-left: 2rem;
        h2{
            margin-left: 4rem;
        }
    }
    .person-picture{
        height: 400px;
        width: 650px;
    }
    .person-information__wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-left: 2em
    }
     .person-information{
          div{
            padding: 3rem
        }
        span {
            display: block;
            font-size: 1em;
            font-weight: 900;
            text-transform: capitalize;
        }
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .person-container__wrapper{
      padding-top: 5rem;
        height: 100%;
    }
  .person-container{
       display: flex;
    //    flex-direction: column;
       flex-wrap: wrap;
    }
    .person-image__wrapper{
       margin: 0 auto;
    }
     .person-picture{
        height: 600px;
        width: 650px;
    }
    .person-name{
        text-align: center;
    }
     .person-information__wrapper{
         width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
     .person-information{
        display: grid;
        justify-content: space-evenly;
        padding-top: 5rem;
        div{

            padding: 3rem;
        }
    }
}

@media (max-width: 767px) {
    .person-container__wrapper{
        height: 100%;
  }
  .person-container{
       display: flex;
       flex-wrap: wrap;
    }
    .person-image__wrapper{
       margin: 0 auto;
    }
    .person-picture{
       height: 300px;
     }
    .person-name{
        text-align: center;
    }
     .person-information__wrapper{
         width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
