
// main colors
$primary-color:#f2f2f2;
$background-color: #ffffff;
$secondary-color:#e8e6e6;
$tertiary-color: #494956;
$text-color: #878790;
$white: #fff;
$black: #000000;

//Typography
$font-primary: 'Montserrat',sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$base-heading:4rem;


$footer-color: #d8d8d8;
$border-color: #e5d29f;
$btn-default-color:#97ce4c;
$input-border: lighten($text-color, 40%);